@model Nosh.Models.Snack

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Snack</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.snackName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.snackName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.snackPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.snackPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.snackCalories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.snackCalories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vendingMachineId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vendingMachineId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
