@model Nosh.Models.Snack

@{
    ViewData["Title"] = "Details";
}

<h1>Snack Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Snack:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.snackName)
        </dd>
        <dt class = "col-sm-2">
            Price:
        </dt>
        <dd class = "col-sm-10">
           @Html.DisplayFor(model => model.snackPrice)
        </dd>
        <dt class = "col-sm-2">
           Calories:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.snackCalories) calories
        </dd>
        <dt class = "col-sm-2">
           Vending Machine:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vendingMachine.vendingMachineName)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
